PORT=4000
JWT_SECRET=change-moi-avec-une-valeur-longue
GOOGLE_SHEET_ID=1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_SERVICE_ACCOUNT_EMAIL=whitefa-sheets@ton-projet.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nCOLLE_LA_CLE_PRIVEE_ICI\n-----END PRIVATE KEY-----\n"
